Server/WcfService/DataAccess/BOConnection.PreCommon/Web References/OmniWrapper2/OmniWrapper2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/OmniWrapper2" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/OmniWrapper2" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x55000" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x55000" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="PublishedOffer">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DiscountType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DiscountNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OfferCategory" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PrimaryText" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SecondaryText" type="string" />
          <element minOccurs="0" maxOccurs="1" default="0001-01-01" name="EndingDate" type="date" />
          <element minOccurs="0" maxOccurs="1" name="encodedhtml" type="string" />
        </sequence>
      </complexType>
      <complexType name="PublishedOfferImages">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="KeyValue" type="string" />
          <element minOccurs="1" maxOccurs="1" default="0" name="DisplayOrder" type="int" />
          <element minOccurs="1" maxOccurs="1" name="ImageId" type="string" />
        </sequence>
      </complexType>
      <complexType name="PublishedOfferDetailLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="OfferNo" type="string" />
          <element minOccurs="1" maxOccurs="1" default="0" name="LineNo" type="int" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
        </sequence>
      </complexType>
      <complexType name="PublishedOfferDetailLineImages">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="KeyValue" type="string" />
          <element minOccurs="1" maxOccurs="1" default="0" name="DisplayOrder" type="int" />
          <element minOccurs="1" maxOccurs="1" name="ImageId" type="string" />
        </sequence>
      </complexType>
      <complexType name="MemberCouponBuffer">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="CouponCode" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Barcode" type="string" />
        </sequence>
      </complexType>
      <complexType name="MemberNotification">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ContactNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PrimaryText" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SecondaryText" type="string" />
          <element minOccurs="1" maxOccurs="1" name="WhenDisplay" type="string" />
          <element minOccurs="0" maxOccurs="1" default="0001-01-01" name="ValidFromDate" type="date" />
          <element minOccurs="0" maxOccurs="1" default="0001-01-01" name="ValidToDate" type="date" />
          <element minOccurs="1" maxOccurs="1" name="MemberAttribute" type="string" />
          <element minOccurs="1" maxOccurs="1" name="MemberAttributeValue" type="string" />
          <element minOccurs="1" maxOccurs="1" name="WebLink" type="string" />
          <element minOccurs="1" maxOccurs="1" name="E-MailDisclaimer" type="string" />
          <element minOccurs="1" maxOccurs="1" default="false" name="PersonalizedE-Mail" type="boolean" />
          <element minOccurs="1" maxOccurs="1" default="false" name="SendHTML" type="boolean" />
        </sequence>
      </complexType>
      <complexType name="MemberNotificationImages">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="KeyValue" type="string" />
          <element minOccurs="1" maxOccurs="1" default="0" name="DisplayOrder" type="int" />
          <element minOccurs="1" maxOccurs="1" name="ImageId" type="string" />
        </sequence>
      </complexType>
      <complexType name="PublishedOfferLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="PublishedOfferNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DiscountType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DiscountNo" type="string" />
          <element minOccurs="1" maxOccurs="1" default="0" name="DiscountLineNo" type="int" />
          <element minOccurs="1" maxOccurs="1" default="0" name="DiscountLineType" type="int" />
          <element minOccurs="1" maxOccurs="1" name="DiscountLineId" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DiscountLineDescription" type="string" />
          <element minOccurs="1" maxOccurs="1" name="VariantType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="VariantCode" type="string" />
          <element minOccurs="1" maxOccurs="1" default="false" name="Exclude" type="boolean" />
          <element minOccurs="1" maxOccurs="1" name="UnitOfMeasure" type="string" />
          <element minOccurs="1" maxOccurs="1" default="0" name="TableNo" type="int" />
        </sequence>
      </complexType>
      <complexType name="RootGetDirectMarketingInfo" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="PublishedOffer" type="tns:PublishedOffer" />
          <element minOccurs="0" maxOccurs="unbounded" name="PublishedOfferImages" type="tns:PublishedOfferImages" />
          <element minOccurs="0" maxOccurs="unbounded" name="PublishedOfferDetailLine" type="tns:PublishedOfferDetailLine" />
          <element minOccurs="0" maxOccurs="unbounded" name="PublishedOfferDetailLineImages" type="tns:PublishedOfferDetailLineImages" />
          <element minOccurs="0" maxOccurs="unbounded" name="MemberCouponBuffer" type="tns:MemberCouponBuffer" />
          <element minOccurs="0" maxOccurs="unbounded" name="MemberNotification" type="tns:MemberNotification" />
          <element minOccurs="0" maxOccurs="unbounded" name="MemberNotificationImages" type="tns:MemberNotificationImages" />
          <element minOccurs="0" maxOccurs="unbounded" name="PublishedOfferLine" type="tns:PublishedOfferLine" />
        </sequence>
      </complexType>
      <element name="RootGetDirectMarketingInfo" type="tns:RootGetDirectMarketingInfo" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x55003" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x55003" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="MemberAttributeList">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Code" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Value" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ActionType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="LimitationType" type="string" />
          <element minOccurs="0" maxOccurs="1" name="AttributeType" type="string" />
        </sequence>
      </complexType>
      <complexType name="RootGetMemberAttributes" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="MemberAttributeList" type="tns:MemberAttributeList" />
        </sequence>
      </complexType>
      <element name="RootGetMemberAttributes" type="tns:RootGetMemberAttributes" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x55002" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x55002" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="ContactCreateParameters">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="LoginID" type="string" />
          <element minOccurs="0" maxOccurs="1" name="Password" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Email" type="string" />
          <element minOccurs="1" maxOccurs="1" name="FirstName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="LastName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="MiddleName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Gender" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Phone" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Address1" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Address2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="City" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PostCode" type="string" />
          <element minOccurs="1" maxOccurs="1" name="StateProvinceRegion" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Country" type="string" />
          <element minOccurs="1" maxOccurs="1" name="AccountID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DeviceID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DeviceFriendlyName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExternalID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExternalSystem" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ContactID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ClubID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SchemeID" type="string" />
          <element minOccurs="0" maxOccurs="1" default="0001-01-01" name="DateOfBirth" type="date" />
          <element minOccurs="1" maxOccurs="1" name="MobilePhoneNo" type="string" />
          <element minOccurs="0" maxOccurs="1" name="HouseApartmentNo" type="string" />
          <element minOccurs="0" maxOccurs="1" name="TerritoryCode" type="string" />
          <element minOccurs="0" maxOccurs="1" name="SendReceiptbyEmail" type="string" />
          <element minOccurs="0" maxOccurs="1" name="Authenticator" type="string" />
          <element minOccurs="0" maxOccurs="1" name="AuthenticationId" type="string" />
          <element minOccurs="0" maxOccurs="1" name="RegCardID" type="string" />
        </sequence>
      </complexType>
      <complexType name="MemberAttributeValue">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="AttributeCode" type="string" />
          <element minOccurs="1" maxOccurs="1" name="AttributeValue" type="string" />
        </sequence>
      </complexType>
      <complexType name="RootMemberContactCreate" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="ContactCreateParameters" type="tns:ContactCreateParameters" />
          <element minOccurs="0" maxOccurs="unbounded" name="MemberAttributeValue" type="tns:MemberAttributeValue" />
        </sequence>
      </complexType>
      <element name="RootMemberContactCreate" type="tns:RootMemberContactCreate" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x55001" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x55001" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="MemberAttribute">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="AttributeCode" type="string" />
          <element minOccurs="1" maxOccurs="1" name="AttributeValue" type="string" />
        </sequence>
      </complexType>
      <complexType name="RootSetMemberAttributes" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="MemberAttribute" type="tns:MemberAttribute" />
        </sequence>
      </complexType>
      <element name="RootSetMemberAttributes" type="tns:RootSetMemberAttributes" />
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/OmniWrapper2" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="GetDirectMarketingInfo">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cardId" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="storeNo" type="string" />
            <element xmlns:q1="urn:microsoft-dynamics-nav/xmlports/x55000" minOccurs="1" maxOccurs="1" name="loadMemberDirMarkInfoXML" type="q1:RootGetDirectMarketingInfo" />
          </sequence>
        </complexType>
      </element>
      <element name="GetDirectMarketingInfo_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
            <element xmlns:q2="urn:microsoft-dynamics-nav/xmlports/x55000" minOccurs="1" maxOccurs="1" name="loadMemberDirMarkInfoXML" type="q2:RootGetDirectMarketingInfo" />
          </sequence>
        </complexType>
      </element>
      <element name="GetMobileProfilesByCardId">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cardID" type="string" />
            <element xmlns:q3="urn:microsoft-dynamics-nav/xmlports/x55003" minOccurs="1" maxOccurs="1" name="memberAttributesXML" type="q3:RootGetMemberAttributes" />
          </sequence>
        </complexType>
      </element>
      <element name="GetMobileProfilesByCardId_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
            <element xmlns:q4="urn:microsoft-dynamics-nav/xmlports/x55003" minOccurs="1" maxOccurs="1" name="memberAttributesXML" type="q4:RootGetMemberAttributes" />
          </sequence>
        </complexType>
      </element>
      <element name="MemberContactCreate">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
            <element minOccurs="1" maxOccurs="1" name="clubID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="schemeID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="accountID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="contactID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cardID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="totalRemainingPoints" type="decimal" />
            <element xmlns:q5="urn:microsoft-dynamics-nav/xmlports/x55002" minOccurs="1" maxOccurs="1" name="memberContactCreateXML" type="q5:RootMemberContactCreate" />
          </sequence>
        </complexType>
      </element>
      <element name="MemberContactCreate_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
            <element minOccurs="1" maxOccurs="1" name="clubID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="schemeID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="accountID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="contactID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cardID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="totalRemainingPoints" type="decimal" />
            <element xmlns:q6="urn:microsoft-dynamics-nav/xmlports/x55002" minOccurs="1" maxOccurs="1" name="memberContactCreateXML" type="q6:RootMemberContactCreate" />
          </sequence>
        </complexType>
      </element>
      <element name="RegisterDevice">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
            <element minOccurs="1" maxOccurs="1" name="loginID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="deviceID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="firebaseToken" type="string" />
            <element minOccurs="1" maxOccurs="1" name="initialTopic" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RegisterDevice_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrievePersonalizedOffer">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cardID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrievePersonalizedOffer_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SetTermsPolicyAcceptance">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="loginID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="deviceID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="termsCondVersion" type="string" />
            <element minOccurs="1" maxOccurs="1" name="privacyPolicyVersion" type="string" />
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SetTermsPolicyAcceptance_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateMemberAttributes">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cardId" type="string" />
            <element xmlns:q7="urn:microsoft-dynamics-nav/xmlports/x55001" minOccurs="1" maxOccurs="1" name="setMemberAttributesXML" type="q7:RootSetMemberAttributes" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateMemberAttributes_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
            <element xmlns:q8="urn:microsoft-dynamics-nav/xmlports/x55001" minOccurs="1" maxOccurs="1" name="setMemberAttributesXML" type="q8:RootSetMemberAttributes" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="GetDirectMarketingInfo">
    <part name="parameters" element="tns:GetDirectMarketingInfo" />
  </message>
  <message name="GetDirectMarketingInfo_Result">
    <part name="parameters" element="tns:GetDirectMarketingInfo_Result" />
  </message>
  <message name="GetMobileProfilesByCardId">
    <part name="parameters" element="tns:GetMobileProfilesByCardId" />
  </message>
  <message name="GetMobileProfilesByCardId_Result">
    <part name="parameters" element="tns:GetMobileProfilesByCardId_Result" />
  </message>
  <message name="MemberContactCreate">
    <part name="parameters" element="tns:MemberContactCreate" />
  </message>
  <message name="MemberContactCreate_Result">
    <part name="parameters" element="tns:MemberContactCreate_Result" />
  </message>
  <message name="RegisterDevice">
    <part name="parameters" element="tns:RegisterDevice" />
  </message>
  <message name="RegisterDevice_Result">
    <part name="parameters" element="tns:RegisterDevice_Result" />
  </message>
  <message name="RetrievePersonalizedOffer">
    <part name="parameters" element="tns:RetrievePersonalizedOffer" />
  </message>
  <message name="RetrievePersonalizedOffer_Result">
    <part name="parameters" element="tns:RetrievePersonalizedOffer_Result" />
  </message>
  <message name="SetTermsPolicyAcceptance">
    <part name="parameters" element="tns:SetTermsPolicyAcceptance" />
  </message>
  <message name="SetTermsPolicyAcceptance_Result">
    <part name="parameters" element="tns:SetTermsPolicyAcceptance_Result" />
  </message>
  <message name="UpdateMemberAttributes">
    <part name="parameters" element="tns:UpdateMemberAttributes" />
  </message>
  <message name="UpdateMemberAttributes_Result">
    <part name="parameters" element="tns:UpdateMemberAttributes_Result" />
  </message>
  <portType name="OmniWrapper2_Port">
    <operation name="GetDirectMarketingInfo">
      <input name="GetDirectMarketingInfo" message="tns:GetDirectMarketingInfo" />
      <output name="GetDirectMarketingInfo_Result" message="tns:GetDirectMarketingInfo_Result" />
    </operation>
    <operation name="GetMobileProfilesByCardId">
      <input name="GetMobileProfilesByCardId" message="tns:GetMobileProfilesByCardId" />
      <output name="GetMobileProfilesByCardId_Result" message="tns:GetMobileProfilesByCardId_Result" />
    </operation>
    <operation name="MemberContactCreate">
      <input name="MemberContactCreate" message="tns:MemberContactCreate" />
      <output name="MemberContactCreate_Result" message="tns:MemberContactCreate_Result" />
    </operation>
    <operation name="RegisterDevice">
      <input name="RegisterDevice" message="tns:RegisterDevice" />
      <output name="RegisterDevice_Result" message="tns:RegisterDevice_Result" />
    </operation>
    <operation name="RetrievePersonalizedOffer">
      <input name="RetrievePersonalizedOffer" message="tns:RetrievePersonalizedOffer" />
      <output name="RetrievePersonalizedOffer_Result" message="tns:RetrievePersonalizedOffer_Result" />
    </operation>
    <operation name="SetTermsPolicyAcceptance">
      <input name="SetTermsPolicyAcceptance" message="tns:SetTermsPolicyAcceptance" />
      <output name="SetTermsPolicyAcceptance_Result" message="tns:SetTermsPolicyAcceptance_Result" />
    </operation>
    <operation name="UpdateMemberAttributes">
      <input name="UpdateMemberAttributes" message="tns:UpdateMemberAttributes" />
      <output name="UpdateMemberAttributes_Result" message="tns:UpdateMemberAttributes_Result" />
    </operation>
  </portType>
  <binding name="OmniWrapper2_Binding" type="tns:OmniWrapper2_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="GetDirectMarketingInfo">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/OmniWrapper2:GetDirectMarketingInfo" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetDirectMarketingInfo">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetDirectMarketingInfo_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetMobileProfilesByCardId">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/OmniWrapper2:GetMobileProfilesByCardId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetMobileProfilesByCardId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetMobileProfilesByCardId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="MemberContactCreate">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/OmniWrapper2:MemberContactCreate" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="MemberContactCreate">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="MemberContactCreate_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="RegisterDevice">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/OmniWrapper2:RegisterDevice" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="RegisterDevice">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="RegisterDevice_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="RetrievePersonalizedOffer">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/OmniWrapper2:RetrievePersonalizedOffer" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="RetrievePersonalizedOffer">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="RetrievePersonalizedOffer_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetTermsPolicyAcceptance">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/OmniWrapper2:SetTermsPolicyAcceptance" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetTermsPolicyAcceptance">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetTermsPolicyAcceptance_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMemberAttributes">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/OmniWrapper2:UpdateMemberAttributes" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMemberAttributes">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMemberAttributes_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="OmniWrapper2">
    <port name="OmniWrapper2_Port" binding="tns:OmniWrapper2_Binding">
      <address location="http://localhost:9297/LS22-3-ws/WS/ReplaceWithAPercentEncodedCompanyName/Codeunit/OmniWrapper2" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>